

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.App-square{
    height: 90px;
    width: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
button{
  background-color: green;
}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: black;
  padding: 50px;
  width: 200px;
  height: 150px;
  margin-top: 40px;

  line-height: 150px;
  color: red;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
.flex-item2{
  background: black;
  padding: 50px;
  width: 200px;
  height: 150px;
  margin-top: 40px;

  line-height: 150px;
  color: red;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
.flex-item1{
  background: black;
  padding: 50px;
  width: 200px;
  height: 150px;
  margin-top: 40px;

  line-height: 20px;
  color: red;
  font-weight: bold;
  font-size: 1em;

}
.flex-item3{
  background: black;
  padding: 50px;
  width: 200px;
  height: 150px;
  margin-top: 40px;

  line-height: 20px;
  color: red;
  font-weight: bold;
  font-size: 1em;

}
.fname{
  width: 200px;
  height: 10px;

}
